{% extends '_layouts/base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <div class="container grid flex-1 gap-12 md:grid-cols-[200px_1fr] flex-grow">
        <aside class="hidden w-[200px] flex-col md:flex pt-[.75rem] flex-grow">
            <a
                class="items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background hover:bg-accent hover:text-accent-foreground h-10 py-2 px-4 hidden xl:inline-flex"
                href="{{ path('app_app') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 h-4 w-4"><polyline points="15 18 9 12 15 6"></polyline></svg>
                Back to search
            </a>
            <hr class="my-4 border">
            <div class="flex flex-col gap-2">
                <h2 class="font-semibold">Seasons</h2>
                {% for season in range(1, totalSeasons) %}
                    <a
                        class="items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background hover:bg-accent hover:text-accent-foreground h-10 py-2 px-4 {{ season == currentSeason ? 'bg-accent text-accent-foreground' : '' }}"
                        href="{{ path('app_series_episodes', {'id': entry.getImDBId, 'season': season}) }}">
                        Season {{ season }}
                    </a>
                {% endfor %}
            </div>
        </aside>
        <main>
            <h1 class="font-heading text-3xl md:text-4xl border-b">Season {{ currentSeason }}</h1>
            {% for episode in episodes %}
                <div>
                    <h2 class="font-semibold inline">{{ episode.getNoEpisode }}: </h2>
                    <p class="inline">{{ episode.getEpisodeImDBTitle }}</p>
                </div>
            {% endfor %}
            {% if currentSeason < totalSeasons %}
                <a href="{{ path('app_series_episodes', {'id': entry.getImDBId, 'season': currentSeason + 1}) }}">Afficher la saison suivante</a>
            {% endif %}
        </main>
    </div>
{% endblock %}