{% extends '_layouts/base.html.twig' %}

{% block title %}Search for films!{% endblock %}

{% set movies = app.request.get('movies') %}
{% set series = app.request.get('series') %}



{% block body %}
    <div class="container grid flex-1 gap-12 md:grid-cols-[200px_1fr] flex-grow">
        <aside class="hidden w-[200px] flex-col md:flex pt-[.75rem] flex-grow">
            <form action="{{ path('app_search') }}" method="get" class="flex flex-col items-stretch gap-2 flex-grow">
                <label for="search" class="font-heading font-medium text-lg md:text-xl border-b pl-3">Search</label>
                <div class="flex items-center gap-2 w-full rounded-md border border-input h-10 px-3 py-2 ring-offset-background focus-within:outline-none focus-within:ring-2 focus-within:ring-ring focus-within:ring-offset-2">
                    {% include '_components/search_icon.html.twig' with {'classes': 'h-4 w-4 text-foreground'} %}
                    <input
                            type="text"
                            name="query"
                            value="{{ app.request.get('query') }}"
                            placeholder="Search..."
                            id="search"
                            autocomplete="search"
                            class="placeholder:text-muted-foreground focus-visible:outline-none text-sm w-full bg-transparent">
                </div>

                <h2 class="font-heading font-medium text-lg md:text-xl border-b pl-3 mt-4">Filters</h2>
                <div>
                    <input type="checkbox" name="movies" {{ movies == "on" or movies == null and not (series) ? 'checked' : '' }} id="movies" class="hidden peer">
                    <label for="movies" class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground transparent cursor-pointer peer-checked:bg-border">
                        <span>Movies</span>
                    </label>
                </div>
                <div>
                    <input type="checkbox" name="series" {{ series == "on" or series == null and not (movies) ? 'checked' : '' }} id="tv-show" class="hidden peer">
                    <label for="tv-show" class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground transparent cursor-pointer peer-checked:bg-border">
                        <span>Series</span>
                    </label>
                </div>

                <h2 class="font-heading font-medium text-lg md:text-xl border-b pl-3 mt-4">Genres</h2>
                <div class="flex flex-wrap gap-2">
                    {% for genre in genres %}
                        <div>
                            <input
                                    type="checkbox"
                                    name="genres[]"
                                    {{ genre.name in app.request.get('genres') ? 'checked' : '' }}
                                    value="{{ genre.name }}"
                                    id="genre-{{ genre.id }}"
                                    class="hidden peer"
                            >
                            <label for="genre-{{ genre.id }}"
                                   class="group flex items-center rounded-md px-3 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground transparent cursor-pointer peer-checked:bg-border">
                                <span>{{ genre.name }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <button
                        class="inline-flex items-center justify-center mb-4 bg-secondary text-secondary-foreground hover:bg-secondary/80 h-9 rounded-md px-4"
                        type="submit">
                    Apply Filters
                </button>
            </form>
        </aside>
        <main>
            <h1 class="font-heading text-3xl md:text-4xl border-b">Medias</h1>
            {% if entries is defined %}
                {% for entry in entries %}
                    <div>
                        <h2>{{ entry.getImDBTitle }}</h2>
                        <img src="{{ entry.getImDBImageUrl }}" alt="{{ entry.getImDBTitle }}">
                        <p>Type: {{ entry.isIsSerie ? 'Series' : 'Movie' }}</p>
                        <p>IMDb ID: {{ entry.getImDBId }}</p>
                        <p>Categories:
                            {% for category in entry.getCategoryId %}
                                {{ category.getName }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% if entry.isIsSerie %}
                            <a href="{{ path('app_series_episodes', {'id': entry.getImDBId}) }}">Afficher les épisodes</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        </main>
    </div>


{% endblock %}
