{% extends '_layouts/base.html.twig' %}

{% block title %}Modification profil de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}


    {{ form_start(form) }}

    <div class="grid gap-4">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
            <div>
                {{ form_row(form.firstname, {
                    'attr': {
                        'placeholder': 'Your FirstName',
                        'class': 'flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
                    },
                    'label_attr': {
                        'class': 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
                    },
                }) }}
            </div>
            <div>
                {{ form_row(form.lastname, {
                    'attr': {
                        'placeholder': 'Your LastName',
                        'class': 'flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
                    },
                    'label_attr': {
                        'class': 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
                    },
                }) }}
            </div>
            <div>
                {{ form_row(form.email, {
                    'attr': {
                        'placeholder': 'Your Email',
                        'class': 'flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
                    },
                    'label_attr': {
                        'class': 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
                    },
                }) }}
            </div>
            <div>
            {{ form_row(form.password, {
                'attr': {
                    'placeholder': 'Your password',
                    'class': 'flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
                },
                'label_attr': {
                    'class': 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
                },
            }) }}
            </div>

                <div>


                {{ form_row(form.imageLink, {
                    'attr': {
                        'placeholder': 'Your Image',
                        'class': 'flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2',
                    },
                    'label_attr': {
                        'class': 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
                    },
                }) }}
            </div>

        </div>
    </div>

        {{ form_end(form) }}

{% endblock %}