{% extends '_layouts/base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
<div class="grid xs4 container">
    {% for message in app.flashes('message') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 success">{{message}}</div>
        </div>
    {% endfor %}
    <div class="col-xs4">
        <h1>Profil de {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    </div>

    <div class="col-xs1">Image :</div>
    <div class="col-xs3">{{ app.user.imagelink }}</div>
    <div class="col-xs1">Nom :</div>
    <div class="col-xs3">{{ app.user.firstname }}</div>
    <div class="col-xs1">Prénom :</div>
    <div class="col-xs3">{{ app.user.lastname }}</div>
    <div class="col-xs1">Email :</div>
    <div class="col-xs3">{{ app.user.email }}</div>


    <a href="{{ path('user_modif') }}" class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 h-10 py-2 px-4 md:w-auto md:ml-auto">
        Modifier le profil</a>


{% endblock %}